<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/src.js" defer></script>
</head>
<body>
    <header>
        <h1>Welcome Back!</h1>
    </header>
    <main>
        <div>
            <form>
                <label for="uname">Username</label><br>
                <input type="text" id="uname" name="username"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit" id="submit">
            </form>
        </div>
    </main>
    <p id="response"></p>
</body>
</html>
</body>
</html>